.BrowseCategorySection {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

.BrowseCategorySection-title {
  color: #d32422;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

/* Category tiles */
.BrowseCategorySection-tile {
  width: 15rem;
  height: 9rem;
  margin: 1rem auto;
}

.BrowseCategorySection-link {
  color: black;
}

.BrowseCategorySection-link:hover {
  color: #0373ba;
  text-decoration: none;
}