.CityNameSection {
  padding: 2rem 0;
}

.CityNameSection-title {
  color: #d32422;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

/* List of cities */
.CityNameSection-ul {
  padding-left: 0;
  text-align: center;
}

.CityNameSection-ul li {
  margin: 0.5rem auto;
}

.CityNameSection-links {
  list-style: none;
  color: #666666;
}

li .CityNameSection-search {
  color: #666666;
}

/* Horizontal rule */
.CityNameSection hr {
  width: 75%;
}

.CityNameSection h6 {
  color: #d32422;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

/* Business cards */
.CityNameSection-card {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.CityNameSection-seeMore {
  color: #0373ba;
  font-size: 0.9rem;
  text-align: center;
}