.MenuSection {
  padding: 2rem 0;
}

.MenuSection h5 {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.MenuSection-tile {
  width: 15rem;
  margin: 1rem auto;
  margin-bottom: 1.5rem;
}

.MenuSection-tile p {
  color: grey;
  font-size: 0.9rem;
}

.MenuSection-tile a {
  color: black;
}

.MenuSection-tile a:hover {
  text-decoration: none;
}
