.SearchResultsCard {
  width: 100%;
}


/* Image */
.SearchResultsCard-img {
  margin-bottom: 1rem;
  width: 100%;
}

/* Business Info */
.SearchResultsCard-info {
  /* border: 1px solid black; */
  margin-bottom: 0.4rem;
  padding-left: 0.1rem;
}

.SearchResultsCard-business {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.SearchResultsCard-text div {
  font-size: 0.9rem;
}

/* Review Stars */
.SearchResultsCard-review {
  /* border: 1px solid black; */
  margin-bottom: 0.1rem;
}

.SearchResultsCard-stars {
  /* border: 1px solid black; */
  width: 7.4rem;
  height: 1.7rem;
  margin-right: 0.2rem;
}

/* Text */
.SearchResultsCard-text {
  color: #747380;
}