.UserReview {
  padding-left: 1rem;
}

/* User image and info */
.UserReview-user {
  position: relative;
}

.UserReview-basic-info {
  width: 50%;
  margin-right: 0.5rem;
  position: absolute;
  top: 0;
  left: 9rem;
}

.UserReview-user img {
  border-radius: 50%;
}

.UserReview-basic-info p {
  margin-bottom: 0;
}

.UserReview-basic-info-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.UserReview-basic-info-city {
  font-size: 1rem;
}


.UserReview-icons p, .UserReview-icons i {
  font-weight: 700;
  color: #747180;
}

.UserReview-icons i {
  margin-right: 0.2rem;
  width: 1.3rem;
}


/* Rating and date */
.UserReview-rating {
  margin: 0.7rem 0;
}

.UserReview-rating img {
  width: 10rem;
  margin-right: 0.5rem;
}

.UserReview-rating span {
  color: grey;
}


/* Photo and check-in icons */
.UserReview-checkIn {
  margin-left: 0.2rem;
}

.UserReview-checkIn span, .UserReview-checkIn .far {
  font-size: 0.9rem;
  font-weight: 700;
}

.UserReview-checkIn .far {
  margin-right: 0.3rem;
}

.UserReview-checkIn-icon {
  margin-right: 1rem;
}


/* Actual review */
.UserReview-text {
  width: 95%;
  margin: 1rem 0;
  padding-left: 0.2rem;
}

/* Pictures the user took */
.UserReview-share-img {
  width: 100%;
  border-radius: 0.5rem;
}

.UserReview-images {
  width: 95%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}