.CategoryTile {
  width: 18rem;
  height: 18rem;
}

.CategoryTile-body {
  padding: 0;
}

.CategoryTile-img {
  height: 80%;
}

.CategoryTile-title {
  text-align: center;
  padding-top: 1rem;
}

.CategoryTile.card {
  margin: 0 auto;
}