.CategoryTile {
  /* width will take 100% of its container */
  width: 100%;
  height: 18rem;
}

.CategoryTile-body {
  padding: 0;
}

.CategoryTile-img {
  height: 80%;
}

.CategoryTile-title {
  text-align: center;
  padding-top: 1rem;
}
