.SignUpPage {
  padding: 2rem 1rem;
  text-align: center;
}

/* SignUpPage Intro Text */
.SignUpPage h4 {
  color: #d32422;
  font-weight: 700;
}

.SignUpPage-connect {
  font-weight: 700;
}

.SignUpPage-terms {
  font-size: 0.8rem;
}

.SignUpPage-terms a {
  color: #0373ba;
}

/* SignUpPage buttons */
.SignUpPage-buttons {
  margin: 2rem 0;
}

.SignUpPage-buttons Button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  font-weight: 700;
}

.SignUpPage-buttons i {
  margin-right: 0.5rem;
}

.SignUpPage-buttons .SignUpPage-buttons-facebook {
  background-color: #1877f2;
  border-color: #1877f2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.SignUpPage-buttons .SignUpPage-buttons-facebook:hover {
  background-color: rgba(24, 118, 242, 0.8);
  border-color: #1877f2;
}

.SignUpPage-buttons .SignUpPage-buttons-google {
  background-color: white;
  border-color: #cccccc;
  color:#757575;
}

.SignUpPage-buttons .SignUpPage-buttons-apple {
  background-color: black;
  border-color: black;
  color:white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.SignUpPage-buttons .SignUpPage-buttons-apple:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: black;
}

.SignUpPage-buttons p {
  font-size: 0.9rem;
}

/* Horizontal rules */
.SignUpPage-hr {
  margin-bottom: 2rem;
}

.SignUpPage-hr1 {
  width: 40%;
  float: left;
  border: 1px solid #cccccc;
  margin-top: 0.7rem;
}

.SignUpPage-hr2 {
  width: 40%;
  float: right;
  border: 1px solid #cccccc;
  margin-top: 0.7rem;
}

.SignUpPage-hr span {
  color: #666666;
  font-weight: 500;
}

/* Form */
.SignUpPage-birthday-header {
  color: black;
  font-weight: 700;
}

.SignUpPage-birthday-header span {
  font-weight: 400;
  font-size: 0.9rem;
  color: #999999;
}

.SignUpPage-birthday {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.SignUpPage-birthday-select {
  width: 32%;
  margin-bottom: 0;
}

.SignInPage-SignUp-button{
  width: 100%;
  background-color: #d32422;
  border-color: #d32422;
  font-weight: 700;
  padding: 0.7rem 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.SignInPage-SignUp-button:hover {
  background-color: rgba(211, 36, 34, 0.8);
  border-color: #d32422;
}

.SignInPage-login {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #999999;
}