.LocationHoursSection {
  padding: 2rem 0;
  padding-left: 1rem;
}

.LocationHoursSection h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: left;
}

.LocationHoursSection-map {
  width: 95%;
  margin-bottom: 1rem;
}

.LocationHourSection-address {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.95rem;
}

.LocationHourSection-address.address {
  color: #03838f;
  font-size: 0.95rem;
  font-weight: 600;
}

.LocationHourSection-address.city {
  font-weight: 700;
}