#SearchSection {
  background-color: grey;
  /* background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3667&q=80"); */
  background-size: cover;
}

.SearchSection-logo {
  width: 100%;
  /* border: 1px solid black; */
  margin: 2rem auto;
}

/* Navbar */
.SearchSection-nav-home.navbar-brand {
  color: white;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Search Form */
.SearchSection-input {
  width: 90%;
  margin: 0.5rem auto 0.5rem auto;
}

.btn.SearchSection-submit {
  width: 90%;
  margin: 0 auto;
  width: 90%;
  margin-top: 0.5rem;
  background-color: #d32422;
}

.btn-primary.SearchSection-submit {
  border: none;
}

/* Links below form */
.SearchSection-ul {
  /* border: 3px solid black; */
  padding-left: 0;
  margin: 2rem auto;
  text-align: center;
}

.SearchSection-links {
  /* border: 3px solid green; */
  margin: 0.5rem auto;
  list-style: none;
}

.SearchSection-links a {
  color: white;
  font-weight: 600;
  padding-left: 5px;
}

li .fas {
  color: white;
}

