#SearchSection {
  background-color: grey;
  /* background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3667&q=80"); */
  background-size: cover;
}

.SearchSection-logo {
  width: 100%;
  border: 1px solid black;
}