.Footer {
  padding: 2rem 0;
}

.Footer-section-header {
  color: #d32422;
  font-weight: 700;
  text-align: center;
}

.Footer-section-ul {
  /* border: 3px solid black; */
  width: 50%;
  margin: 0 auto;
}

.Footer-section-ul li {
  list-style: none;
}

.Footer-section-ul a {
  color: #0373ba;
  font-size: 0.9rem;
}

.Footer img {
  width: 100%;
  margin-top: 1rem;
}