.ShareRowSection {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.ShareRowSection-btn {
  width: 80%;
  margin: 0.5rem auto;
  text-align: left;
  font-weight: 500;
}

.ShareRowSection-btn i {
  margin-right: 0.5rem;
}

.ShareRowSection-btn.review {
  background-color: #f43a39;
  border: #f43a39;
}

.ShareRowSection-btn.other {
  color: black;
  border: 1px solid #bbbabf;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.ShareRowSection-btn.other:hover {
  background-color: rgba(232, 232, 232, 1);
}