.LocationHoursSection {
  padding: 2rem 0;
  padding-left: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.LocationHoursSection h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: left;
}

/* Map */
.LocationHoursSection-map {
  width: 95%;
  margin-bottom: 1rem;
}

/* Address */
.LocationHourSection-address {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.95rem;
}

.LocationHourSection-address.address {
  color: #03838f;
  font-size: 0.95rem;
  font-weight: 600;
}

.LocationHourSection-address.city {
  font-weight: 700;
}

/* "Get Directions" button */
.LocationHoursSection Button {
  margin: 1rem 0;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
  border: 1px solid #bbbabf;
  padding: 0.5rem 1rem;
  transition-property: background-color;
  transition-duration: 0.6s;
}

.LocationHoursSection Button:hover {
  border: 1px solid #bbbabf;
  background-color: rgba(232, 232, 232, 1);
  color: black;
}

/* Days and times */
.LocationHoursSection ul {
  padding-left: 0;
}

.LocationHoursSection li {
  list-style-type: none;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.LocationHoursSection-day {
  display: inline-block;
  width: 3.2rem;
}

.LocationHoursSection-hours {
  /* border: 1px solid black; */
  padding-right: 0.5rem;
}

.LocationHoursSection-open {
  color: #07a881
}

.LocationHoursSection-closed {
  color: #f43a39;
}

.LocationHoursSection li:last-child {
  margin-bottom: 0rem;
}

/* "Edit Business Info" button */
a.LocationHoursSection-edit {
  color: #03838f;
  font-weight: 700;
}

.LocationHoursSection-edit .fa-pencil-alt {
  margin-right: 0.7rem;
}
