.BestBusinessSection {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

.BestBusinessSection-title {
  color: #d32422;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 3rem;
}

/* Tile */
.BestBusinessSection-tile {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.BestBusinessSection-link {
  color: black;
}

.BestBusinessSection-link:hover {
  text-decoration: none;
  color: #408ac6;
}