/* .CategoryTile {
  width will take 100% of its container
  width: 100%;
  height: 18rem;
}

.CategoryTile-body {
  padding: 0;
}

.CategoryTile-img {
  height: 80%;
}

.CategoryTile-title {
  text-align: center;
  padding-top: 1rem;
} */

/* Best Businesses Section Styles */
.BestBusinessTile {
  /* width will take 100% of its container */
  width: 100%;
  height: 18rem;
}

.BestBusinessTile:hover {
  box-shadow: 1px 5px 10px #d1d1d1;
}

.BestBusinessTile-body {
  padding: 0;
}

.BestBusinessTile-img {
  height: 80%;
}

.BestBusinessTile-title {
  text-align: center;
  padding-top: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
}


/* Browse Businesses By Category Section Styles */
.BrowseCategoryTile {
  width: 100%;
  height: 100%;
}

.BrowseCategoryTile:hover {
  border: 1px solid #0373ba;
  box-shadow: 1px 5px 10px #d1d1d1;
}

.BrowseCategoryTile-body {
  text-align: center;  
}

.BrowseCategoryTile-img {
  width: 4.5rem;
  height: 4.5rem;
}

.BrowseCategoryTile-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Menu Section Tiles */
.MenuSectionTile-body {
  padding: 0;
}

.MenuSectionTile {
  border: none;
}

.MenuSectionTile-img {
  width: 100%;
}

.MenuSectionTile-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
